version: "3"

volumes:
  prom_data: {}

services:
  prometheus:
    image: prom/prometheus:v2.31.1
    user: root
    restart: unless-stopped
    network_mode: host
    volumes:
      - prom_data:/var/lib/prometheus
      - ./etc/prometheus:/etc/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/var/lib/prometheus"
      - "--storage.tsdb.retention.time=90d"
      - "--storage.tsdb.retention.size=20GB"
      - "--web.enable-lifecycle"

